<h1>Twitter Search</h1>

<form action="/" method="POST">
  <div>
   <script>
  var count = 0
    </script>
    <label>
      Search Twitter for tweets containing... <br>
      <input type="text" name="match">
    </label>
	<br><br><br>
	
	  
	 
		<div>
		<label>
      Please select a language to search in<br>
	  </label>	
		<select name = "lang">
	<option value="en">English</option>
	<option value="es">Spanish</option>
	<option value="de">German</option>
	<option value="fr">French</option>
	<option value="it">Italian</option>
	</select>
	
	<br><br><br><br>
	
	Please select country to search in<br>
	  </label>	
		<select name = "country">
		<option value=""></option>
	<option value="35.2799600,-80.9545120,20mi">Charlotte</option>
	<option value="es">America</option>
	<option value="de">France</option>
	<option value="fr">Germany</option>
	<option value="it">Italy</option>
	<option value="it">Spain</option>
	</select>
	
	<br><br><br><br>
	
  </div>
  <input type="submit" value="Submit">
</form>

<hr />
{{#if results}}
  <h2>Query</h2>
  <div><span class="label">query:</span> {{ search.query }}</div>
  <en><span class="label">completed in:</span> {{ search.completed_in }}</en>
  <h2>Results</h2>

  <ul id='results'>
  {{#each results}}
  <script> count++ </script>
    <li>
      <div class='heading'>
        <div><span class="label">Created on:</span> {{ this.created_at }}</div>
        <div><span class="label">Author:</span> {{ this.user.screen_name }}</div>
      </div>
	 

      <div><span class="label">Message:</span> <p>{{ this.text }} </p></div>

      <div><span class="label">Retweets:</span> {{ this.retweet_count }} | <span class="label">Favorites:</span> {{ this.favorite_count }}</div>
	 
      <div>
      {{#if entities.hashtags}}
        <span class="label">Hashtags:</span>
        {{#each entities.hashtags}}
        <span>#{{this.text}} </span>
        {{/each}}
		
      {{else}}
        <span class="label">No Hashtags</span>
      {{/if}}
      </div>
    </li>
  {{/each}}
   <span class="label">Total Tweets returned:<script>document.write(count) </script> 
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Country');
        data.addColumn('number', 'Tweets');
        data.addRows([
          ['Germany', 3],
          ['France', 1],
          ['America', 1],
          ['Spain', 1],
          ['Canada eh', 2]
        ]);

        // Set chart options
        var options = {'title':'Tweets organized by country',
                       'width':800,
                       'height':600};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
	<div id="chart_div"></div>
	
  
  </ul>
  
{{else}}
  <p>Search for matching words above!</p>
{{/if}}