<h1>Summary Page</h1>

<form action="/" method="POST">
  <div>
   <script>
  var count = 0
    </script>
    <label>
      Search Twitter for tweets containing... <br>
      <input type="text" name="match">
    </label>
	<br><br><br>
	
	  
	 
		<div>
		<label>
      Please select a language to search in<br>
	  </label>	
		<select name = "lang">
	<option value="en">English</option>
	<option value="es">Spanish</option>
	<option value="de">German</option>
	<option value="fr">French</option>
	<option value="it">Italian</option>
	</select>
	
	<br><br><br><br>
	
  </div>
  <input type="submit" value="Submit">
</form>

<hr />
{{#if results}}
  <h2>Query</h2>
  <div><span class="label">query:</span> {{ search.query }}</div>
  <en><span class="label">completed in:</span> {{ search.completed_in }}</en>
  <h2>Results</h2>

  <ul id='results'>
  {{#each results}}
  <script> count++ </script>
    <li>
      <div class='heading'>
        <div><span class="label">Created on:</span> {{ this.created_at }}</div>
        <div><span class="label">Author:</span> {{ this.user.screen_name }}</div>
      </div>
	 

      <div><span class="label">Message:</span> <p>{{ this.text }} </p></div>

      <div><span class="label">Retweets:</span> {{ this.retweet_count }} | <span class="label">Favorites:</span> {{ this.favorite_count }}</div>
	 
      <div>
      {{#if entities.hashtags}}
        <span class="label">Hashtags:</span>
        {{#each entities.hashtags}}
        <span>#{{this.text}} </span>
        {{/each}}
		
      {{else}}
        <span class="label">No Hashtags</span>
      {{/if}}
      </div>
    </li>
  {{/each}}
   <span class="label">Total Tweets returned:<script>document.write(count) </script> 
  
  </ul>
{{else}}
  <p>Search for matching words above!</p>
{{/if}}